.fixed{
  background-color: #3498db;
  position: fixed;
  color: white;
  width: 100%;
  z-index: 999;
  top: 0;
  /*
  box-shadow: 0 5px 5px #ccc;*/
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("../img/bg2.jpg") no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }

  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  header.masthead h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem; }
      header.masthead h1 {
        font-size: 3rem; } }

  .baken{
  color: #000;
}
.baken:hover{
  background-color: #2980b9;
  color:#fff;
  cursor: pointer;
}

.features-icons {
  padding-top: 1rem;
  padding-bottom: 3rem; }
  .features-icons .features-icons-item {
    max-width: 20rem; }
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }

.testimonials {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .testimonials .testimonial-item {
    max-width: 18rem; }
    .testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }

.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.footer-bottom {
    
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}



.img-use{
  margin-top: 50px;
  widows: 100px;
  height: 100px;
}
.container-use{
  width: 60%;
}
  @media(max-width: 768px){
    .img-intro{
      width: 70%;
      height: 200px;
    }
  }

  .nav-desktop{
    display: block;
  }

  .open-wrapper{
    display: none;
  }

  .btn-open,.btn-close{
    display: none;
  }
  @media(min-width: 552px){
    .nav-mobile{
      display: none;
    }
  }

  @media(max-width: 552px){
      .open-wrapper{
    display: block;
  }
    .nav-desktop{
         display: none;
    }
  .btn-open,.btn-close{
    display: block;
  }
   .nav-mobile{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #f0f0f0;
    z-index: 1000;
    left: -100%;
    transition: 0.1s ease-out;
  }
  .nav-mobile ul{
    display: block;
    left: 0;
    margin-top: 50px;
  }
  .nav-mobile ul li{
    list-style: none;
    display: block;
    padding: 10px;
  }
  .nav-mobile ul li:hover{
    background-color: #fff;
  } 
  .nav-mobile ul li a{
    text-decoration: none;
    display: block;;
  }
  .slide{
    left: 0;
    transition: 0.1s ease-out;
  }
  }
